body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.name {
  color: orange;
}
h1 {
  font-size: 55px;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.half-part {
  width: 40%;
  padding-left: 7%;
  padding-top: 5%;
  text-align: justify;
}
.half-part img {
  width: 80%;
}
.btn {
  background-color: orangered;
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  background-image: linear-gradient(orange, tomato);
  box-shadow: 10px 5px 8px #888888;
}
.btn:hover {
  background-image: linear-gradient(green, yellow);
}
.top-part {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
h2 {
  font-size: 35px;
}
p {
  margin-bottom: 30px;
}
.middle-part {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.exp {
  padding-left: 100px;
}
.box-design {
  width: 48%;
  box-shadow: 10px 5px 8px #888888;
  margin: 5%;
  padding: 50px;
  border-radius: 5px;
}
#last-part {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.bdr1 {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
.bdr2 {
  border-left: 7px solid;
  border-image: linear-gradient(orange, tomato);
  border-image-slice: 1;
}
footer {
  text-align: center;
  margin-bottom: 200px;
}
